version: 2.1

orbs:
  silta: silta/silta@dev:master

executors:
  silta-latest:
    docker:
      - image: wunderio/silta-circleci:latest

workflows:
  version: 2
  commit:
    jobs:
      - silta/drupal-validate:
          name: validate
          post-validation:
            - run:
                name: Helm unit tests
                command: helm unittest ./charts/drupal --helm3

      - silta/drupal-build-deploy: &build-deploy
          name: build-deploy

          # Use the latest orb version.
          executor: silta-latest

          # Use a local chart during development.
          chart_name: "./charts/drupal"
          chart_repository: ""
          silta_config: silta/silta.yml
          codebase-build:
            - silta/drupal-composer-install
            - silta/npm-install-build
          pre-release:
            - run:
                name: Build local helm chart
                command: |
                  helm repo add elastic https://helm.elastic.co
                  helm repo add codecentric https://codecentric.github.io/helm-charts
                  helm dependency build ./charts/drupal
            - run:
                name: Dry-run helm install
                command: helm install --dry-run --generate-name ./charts/drupal
          context: global_nonprod
          filters:
            branches:
              ignore:
                - production
                - feature/test-cluster

      - silta/drupal-build-deploy:
          # Extend the build-deploy configuration for the silta-test cluster environment.
          <<: *build-deploy
          name: build-deploy-test
          silta_config: silta/silta.yml,silta/silta-test.yml
          context: silta_test
          filters:
            branches:
              only: feature/test-cluster

      - silta/drupal-build-deploy:
          # Extend the build-deploy configuration for the production environment.
          <<: *build-deploy
          name: build-deploy-prod
          silta_config: silta/silta.yml,silta/silta-prod.yml
          context: global_nonprod
          filters:
            branches:
              only: production
