version: 2.1

orbs:
  silta: silta/silta@dev:master

workflows:
  version: 2
  commit:
    jobs:
      - silta/drupal-validate:
          name: validate
          post-validation:
            - run: helm unittest ./chart
            - run: |
                if ! grep machbarmacher/gdpr-dump composer.json; then
                  echo "Please install machbarmacher/gdpr-dump for sanitized database dumps."
                elif [ ! -f gdpr.json ]; then
                  echo "machbarmacher/gdpr-dump is present but no gdpr.json was found."
                fi

      - silta/drupal-build-deploy: &build-deploy
          name: build-deploy
          # Use a local chart during development.
          chart_name: "./chart"
          chart_repository: ""
          silta_config: silta/silta.yml
          codebase-build:
            - silta/drupal-composer-install
            - silta/npm-install-build
          pre-release:
            - run:
                name: Add elastic repo for elasticsearch
                command: helm repo add elastic https://helm.elastic.co
            - run:
                name: Build local helm dependencies
                command: helm dependency build ./chart

          context: global_nonprod
          filters:
            branches:
              ignore: production

      - silta/drupal-build-deploy:
          # Extend the build-deploy configuration for the production environment.
          <<: *build-deploy
          name: build-deploy-prod
          silta_config: silta/silta.yml,silta/silta-prod.yml
          context: global_nonprod
          filters:
            branches:
              only: production
